body {
    background-color: rgb(227, 247, 246);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button  {
    background-color: black;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
}